
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# Docker artifacts
*.log
docker-compose.override.yml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
